<section class="container p-5 mt-5">

    <div *ngIf="isWrong" class="text-center mt-5 ">
        <i class="fa-solid fa-circle-exclamation fa-beat" style="color:#5cb85c;"></i>
        <h3 class="text-success my-4">oops! somthing went wrong</h3>
        <h5 (click)="reload()" class="text-Inverse cursor-pointer">reload page</h5>
    </div>

    <div *ngIf="loading" class="row text-center">
        <div *ngFor="let _ of [].constructor(10)" class="col-md-6 col-12 col-lg-4 my-4  ">
            <div class="px-2 py-4 p-md-4 p-lg-4 ">
                <span class="loader2 d-inline-block"></span>
            </div>
        </div>
    </div>
    <div *ngIf="loaded" class="row text-center cursor-pointer">
        <div class="col-md-6 col-12 col-lg-4 my-4 " *ngFor="let category of allCategories">
            <div [id]="category.name" class="shadow px-2 py-4 p-md-4 p-lg-4"
                (click)="getSpecCategory(category._id,$event)">
                <img [id]="category.name" [src]="category.image" [alt]="category.slug" class="w-100">
                <h3 [id]="category.name" class="text-success mt-2">{{category.name}}</h3>
            </div>
        </div>
    </div>


   <div>
    <h2  class="text-success text-center">{{categoryName}}</h2>
    <div class="row text-center cursor-pointer">
        <div class="col-md-6 col-12 col-lg-4 my-4 " *ngFor="let subCategory of subCategories">
            <div class="shadow px-2 py-4 p-md-4 p-lg-4">
                <h6>{{subCategory.name}}</h6>
            </div>
        </div>
    </div>
   </div>


</section>