a {
    color: #777;

    img {
        width: 1.9rem;
        margin-bottom: 5px;
    }

    i {
        color: black;
    }

}

li {
    i.fa-cart-shopping {
        margin-top: 7px;
        font-size: 20px;
    }
}

