<section class="container p-5 mt-5">
    <h2 class="text-center text-success" >all brands</h2>



    <div *ngIf="loading" class="row text-center">
        <div  *ngFor="let _ of [].constructor(40)" class="col-md-6 col-12 col-lg-4 my-4  ">
            <div class="px-2 py-4 p-md-4 p-lg-4 ">
                <span class="loader2 d-inline-block"></span>
            </div>
        </div>
    </div>






    <div *ngIf="loaded" class="row text-center">
        <div class="col-md-6 col-12 col-lg-4 my-4  " *ngFor="let brand of allBrands">
            <div class="shadow rounded  px-2 py-4 p-md-4 p-lg-4 ">
              <img [src]="brand.image" alt="" class="w-100">
              <h3 class="text-success mt-2">{{brand.name}}</h3>
            </div>
        </div>
    </div>
</section>


