/* You can add global styles to this file, and also import other style files */

body{
    text-transform: capitalize;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
}

.font-size{
  font-size: 25px;
}

.cursor-pointer{
  cursor: pointer;
}

.form-control:focus {
  border-color:rgb(38, 191, 38);
  box-shadow: 0 0 0 .25rem transparent;
}

// loading
#loading{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5555555555555555555555555555555555555555555555555555555878484848;
    background-color: rgba(0, 0, 0, 0.484);
    display: flex;
}
.loader{
    font-size: 48px;
    color: #FFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader:after{
    content: 'Loading';
    position: relative;
    z-index: 5;
  }
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#73c079 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}
// loading



.loader2 {
  width: 100%;
   height: 215px;
   display: block;
   position: relative;
   background: #FFF;
   box-sizing: border-box;
 }
 .loader2::after {
   content: '';
   width: calc(100% - 30px);
   height: calc(100% - 15px);
   top: 15px;
   left: 15px;
   position: absolute;
   background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
    linear-gradient(#DDD 100px, transparent 0),
    linear-gradient(#DDD 16px, transparent 0),
    linear-gradient(#DDD 50px, transparent 0);
   background-repeat: no-repeat;
   background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
   background-position: -185px 0, center 0, center 115px, center 142px;
   box-sizing: border-box;
   animation: animloader 1s linear infinite;
 }
 
 @keyframes animloader {
   to {
     background-position: 185px 0, center 0, center 115px, center 142px;
   }
 }
 


