<section class="container p-5 mt-5">

    <div class="owl-carousel owl-theme ">
        <div class="item">
            <img class="rounded img-cursoul" src="assets/img/books.jpg" alt="books">
            <h5 class="text-center">books</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul" src="assets/img/music.jpg" alt="music">
            <h5 class="text-center">music</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul" src="assets/img/child.jpg" alt="baby toys">
            <h5 class="text-center">baby and toys</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul " src="assets/img/superMarket.jpg" alt="superMarket">
            <h5 class="text-center">super market</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul " src="assets/img/mensFashion.jpg" alt="women's fashion">
            <h5 class="text-center">men's fashion</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul " src="assets/img/hijab.jpg" alt="mens's fashion">
            <h5 class="text-center">women's fashion</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul " src="assets/img/mobile.jpg" alt="mobiles">
            <h5 class="text-center">mobiles</h5>
        </div>
        <div class="item">
            <img class="rounded img-cursoul " src="../../assets/img/laptop.jpg" alt="Electronics">
            <h5 class="text-center">Electronics</h5>
        </div>
    </div>

    <div class="my-3">
        <input type="text" class="form-control" placeholder="search here">
    </div>

    <div *ngIf="loading" class="row text-center">
        <div *ngFor="let _ of [].constructor(40)" class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="px-2 py-4 p-md-4 p-lg-4 ">
                <span class="loader2 d-inline-block"></span>
            </div>
        </div>
    </div>

    <div *ngIf="loaded">
        <div class="row text-center">
            <div class="col-md-6 col-12 col-lg-3 my-4  " *ngFor="let product of allProducts">
                <div class="shadow px-2 py-4 p-md-4 p-lg-4 ">
                    <div class="cursor-pointer">
                        <div [routerLink]="['/products',product._id]">
                            <img class="w-100" [src]="product.imageCover" [alt]="product.slug">
                            <h5 class="text-success text-start">{{product.category.name}}</h5>
                            <h6 class=" text-start">{{product.title.slice(0,20)}}</h6>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class=" text-start">{{product.price}}EGP</p>
                            <p class="   "><i (click)="wishListAddAndRemove(product._id,$event)" 
                                    class="fa-solid font-size cursor-pointer fa-heart"></i></p>

                            <p class=" text-start">{{product.ratingsAverage}}<i
                                    class="fa-solid fa-star text-warning"></i>
                            </p>
                        </div>
                    </div>
                    <button (click)="addToCart(product._id)" class="btn btn-success w-100 d-block">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>