<form class="container p-5 " *ngIf="isSendEmail" (ngSubmit)="sendEmailSubmit(sendEmailForm)"
    [formGroup]="sendEmailForm">


    <div *ngIf="loading" id="loading" class="justify-content-center align-items-center">
        <span class="loader"></span>
    </div>


    <h4 class="mb-4">please enter your email to get the code :</h4>
    <h3 class="text-success text-center">{{errorMessage}}</h3>
    <div>
        <label class=" my-2" for="email">email :</label>
        <input class="form-control" type="email" id="email" formControlName="email">
        <div class="bg-success text-white p-2 rounded mt-1"
            *ngIf="sendEmailForm.get('email')?.errors&& sendEmailForm.get('email')?.touched">
            <p *ngIf="sendEmailForm.get('email')?.errors?.['required']">input is required</p>
            <p *ngIf="sendEmailForm.get('email')?.errors?.['email']">enter valid email</p>
        </div>
    </div>
    <button type="submit" [disabled]="sendEmailForm.invalid" class="btn btn-success mt-4">verify</button>
</form>



<form class="container p-5 " *ngIf="!isSendEmail && isSendCode" (ngSubmit)="sendcodeSubmit(sendcodeForm)"
    [formGroup]="sendcodeForm">


    <div *ngIf="loading" id="loading" class="justify-content-center align-items-center">
        <span class="loader"></span>
    </div>


    <h4 class="mb-4">enter the code that we sent to your email :</h4>
    <h3 class="text-success text-center" *ngIf="errorMessage">code is not valid</h3>
    <div>
        <label class=" my-2" for="code">code :</label>
        <input class="form-control" type="text" id="code" formControlName="resetCode">
        <div class="bg-success text-white p-2 rounded mt-1"
            *ngIf="sendcodeForm.get('resetCode')?.errors&& sendcodeForm.get('resetCode')?.touched">
            <p *ngIf="sendcodeForm.get('resetCode')?.errors?.['required']">input is required</p>

        </div>
    </div>
    <button type="submit" class="btn btn-success mt-4">verify</button>
</form>






<form class="container p-5 " *ngIf="!isSendEmail && !isSendCode" (ngSubmit)="resetPasswordSubmit(resetPasswordForm)"
    [formGroup]="resetPasswordForm">

    <!-- loading spiner -->
    <div *ngIf="loading" id="loading" class="justify-content-center align-items-center">
        <span class="loader"></span>
    </div>
    <!-- loading spiner -->

    <h2 class="mb-4">reset your account password :</h2>

    <h3 class="text-success text-center">{{errorMessage}}</h3>

    <div>
        <label class=" my-3" for="email">email :</label>
        <input class="form-control" type="email" id="email" formControlName="email">
        <div class="bg-success text-white p-2 rounded mt-1"
            *ngIf="resetPasswordForm.get('email')?.errors&& resetPasswordForm.get('email')?.touched">
            <p *ngIf="resetPasswordForm.get('email')?.errors?.['required']">input is required</p>
            <p *ngIf="resetPasswordForm.get('email')?.errors?.['email']">enter valid email</p>
        </div>
    </div>
    <div>
        <label class="" for="newPassword">newPassword :</label>
        <input class="form-control" type="text" id="newPassword" formControlName="newPassword">
        <div class="bg-success text-white p-2 rounded mt-1"
            *ngIf="resetPasswordForm.get('newPassword')?.errors&& resetPasswordForm.get('newPassword')?.touched">
            <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">input is required</p>
            <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">enter valid password Ex : sHehab123
            </p>
        </div>
    </div>


    <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-success mt-4">reset password</button>

</form>



